.custom_carousel {
    border: 1px solid;
    /* width:70%; */
    /* height: 500px; */
    /* align-items: center; */
    margin: auto;
}

.carousel_image {
    width: 50%;
    object-fit: cover;
}

.carousel-caption {
    color: rgb(26, 55, 61);
    font-weight: 600;
    text-shadow: 1px 1px 3px rgb(7, 248, 232);
}