#category-card {
    padding: 0;
    width: 300px;
    overflow: hidden;
    /* top: 50%; */
    .category-img {
        width: 100%;
        object-position: center;
        object-fit: contain;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
}

.category-card:hover {
    transition: 400ms;
    box-shadow: 3px 3px 10px 5px rgb(124, 115, 128);
}