.home_carousel {
    object-fit: cover;
    height:622px;
    border: 1px solid;

}
.category-section{
    
    padding: 50px;
}
.categories{
    width: 100px;
    height: 600px;
    border-radius: 20px;
    border: 1px solid rgb(253, 241, 0);
    
    background-color: blanchedalmond;
    
    

}