#product-card {
    height: 400px;
    width: 300px;
    overflow: hidden;
    padding: 0;
    border: 1px solid;



    img {
        object-position: center;
        object-fit: fill;
        height: 50%;
        border-radius: 5px;
        /* border: 1px solid; */
    }



}

.buttons {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;

}