.card {
    /* height: 500px; */
    width: 300px;
    margin: auto;
    /* aspect-ratio: 12/4; */
    overflow: hidden;
    padding: 0;



    img {
        object-position: center;
        object-fit: fill;
        height: 35%;
        border-radius: 5px;
        /* border: 1px solid; */
    }



}

.buttons {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;

}